/*Mixins*/
@mixin style_button($color, $color_shadow) {
    border-radius: 20px;
    padding: 8px 15px 8px 15px;
    color: white;
    background-color: $color;
    border-color: $color;
    font-size: 14px;
    &:hover{
        cursor: pointer;
        box-shadow: $color_shadow;
        transform: scale(1.1);
    }
}
@mixin button {
    padding-bottom: 5%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    .btn1{
        @include style_button($color_cyan_strong, $color_cyan_strong);
    }
    .btn2{
        @include style_button($color_light_blue, $color_light_blue);
    }
}
@mixin p_color {
    color: $grayish;
}
@mixin h_color {
    color: $dark_grayish;
}

/*Media query*/
@media (max-width:650px) {
    .button {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
}
@media (min-width:650px) {
    .button {
        display: flex;
        gap: 8%;
    }
    main {
        .section1 {
            p {
                padding-left: 22%;
                padding-right: 22%;
            }
        }
        .section2 {
            .m-pc{
                img{
                    width: 50%;
                }
                display: flex;
                h3 {
                    text-align: start;
                    padding-left: 10%;
                }
                p {
                    text-align: left;
                }
            }
        }
        .section3 {
            img{
                width: 65%;
                margin-top: 50px;
            }
        }
        .section5 {
            .info-section5 {
                display: flex;
                flex-direction: row;
                align-content: space-around;
                padding-left: 5%;
                padding-right: 10%;
                p {
                    padding-left: 18%;
                    padding-right: 18%;
                }
            }
        }
        .section6 {
            
            .logo{                
                .logo1{
                    width: 180px;
                }
                .logo2{
                    width: 150px;
                    height: 40px;
                }
                .logo3{
                    width: 150px;
                    height: 40px;
                }
                .logo4{
                    width: 150px;
                    height: 50px;
                }
                .logo5{
                    width: 150px;
                    height: 40px;
                }
            }
            
        }
        
    }
    footer{
        .m-ft {
            display: inline-flex;
            
        }
    }
}

/*Styles of website*/
@font-face {
    font-family: BaiJamjuree;
    src: url(../fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}
html{
    font-family: "BaiJamjuree";
}
body{
    margin: 0;
}
$color_cyan_strong:hsl(171, 66%, 44%);
$color_light_blue:hsl(233, 100%, 69%);
$dark_grayish:hsl(210, 10%, 33%);
$grayish:hsl(201, 11%, 66%);

/*Styles of header*/
header{
    .baneer{
        background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)),url(../img/bg-header-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 3.5em;
        padding-bottom: 3.5em;
        img {
            width: 100px;
            display: block;
            margin: auto;
        }
    }
    .header{
        text-align: center;
        margin-top: -50px;
        h1{
            @include h_color;
            padding-left: 5%;
            padding-right: 5%;
        }
        p {
            padding-left: 15%;
            padding-right: 15%;
            padding-bottom: 3%;
            @include p_color;
        }
        .button {
            @include button;
            padding-bottom: 100px;
        }
    }
}

/*Styles for section1*/
.section1{
    h2, p {
        text-align: center;
    }
    p {
        @include p_color;
        padding-left: 10%;
        padding-right: 10%;
    }
    h2 {
        @include h_color;
        padding-left: 17%;
        padding-right: 17%;
        font-size: 30px;
    }
    padding-bottom: 100px;
}

/*Styles liés à la section 2*/
.section2{
    padding-bottom: 100px;
    div {
        img {
            padding-bottom: 35px;
            width: 80%;
            display: block;
            margin: auto;
        } 
        .infos {
            text-align: center;
            h3 {
                @include h_color;
            }
            p {
                @include p_color;
                padding-left: 10%;
                padding-right: 10%;
                padding-bottom: 25px;
            }
        }
    }
}

/*Styles liés à la section 3*/
.section3 {
    h2 {
        @include h_color;
        text-align: center;
        padding-left: 17%;
        padding-right: 17%;
        font-size: 30px;
    }
    p {
        @include p_color;
        text-align: center;
        padding-left: 17%;
        padding-right: 17%;
    }
    img {
        padding-bottom: 35px;
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 25px;
        padding-bottom: 50px;
    }
}

/*Styles liés à la section 4*/
.section4 {
    h2{
        @include h_color;
        text-align: center;
        padding-left: 17%;
        padding-right: 17%;
        font-size: 30px;
    }
    p {
        @include p_color;
        text-align: center;
        padding-left: 17%;
        padding-right: 17%;
        padding-bottom: 50px;
        font-size: 18px;
    }
}

/*Styles liés à la section 5*/
.section5{
    text-align: center;
    padding-bottom: 50px;
    h3{
        @include h_color;
    }
    p {
        @include p_color;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 50px;
        font-size: 18px;
    }
}

/*Styles liés à la section 6*/
.section6 {
    display: flex;
    justify-content: center;
    .logo {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 150px;
        .logo1{
            width: 180px;
        }
        .logo2{
            width: 130px;
        }
        .logo3{
            width: 150px;
        }
        .logo4{
            width: 150px;
        }
        .logo5{
            width: 150px;
        }
    }
}

/*Styles liés à la section 7*/
.section7{
    div {
        h2 {
            @include h_color;
            text-align: center;
            padding-left: 17%;
            padding-right: 17%;
            font-size: 30px;
        }
        p {
            @include p_color;
            text-align: center;
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 50px;
            font-size: 18px;
        }
        .button {
            @include button;
            padding-bottom: 200px;
        }
    }
}

/*Styles liés au footer*/
footer {
    padding-top: 50px;
    background-color: rgb(226, 225, 225);
    div {
        text-align: center;
        img {
            width: 50px;
            padding-bottom: 20px;
        }
        p {
            @include h_color;
            font-size: 18px;
        }
        .reseau {
            display: inline-flex;
            align-items: center;
            gap: 20px;
            padding-top: 20px;
            .reseau1 {
                width: 20px;
                &:hover {
                cursor: pointer;
                transform: scale(1.3);
                }
            }
            .reseau2 {
                width: 20px;
                &:hover {
                cursor: pointer;
                transform: scale(1.3);
                }
            }
            .reseau3 {
                width: 20px;
                &:hover {
                cursor: pointer;
                transform: scale(1.3);
                }
            }
        }
    }
}